<div id="serverComponentDiv">
    <p style="color:red;">
        (We're from the servers component!)
    </p>
    <!--Two way Data-Binding [(ngModel)] -->
    <input type="text" [(ngModel)]="username" (input)="onEnableButton($event)">
    <!--Event Binding  (event) -->
    <!--<input type="text" (input)="onUpdateUsername($event)">-->
    <button class="btn btn-primary" [disabled]="buttonDisabled" (click)="onClearInput()">Click Me!</button>
    <!-- could have disabled button with boolean expression instead of property; i.e. username is equal to an empty string-->
    <!--<button class="btn btn-primary" [disabled]="username===''" (click)="onClearInput()">Click Me!</button>-->
    <p>{{username}}</p>
    <p>The button is disabled, True or False?: {{buttonDisabled}}</p>
</div>
